/* body {
  margin: 0;
  position: absolute;
  background-color: black;
  color: red;
}

.contain {
  position: relative;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  z-index: 2;
}

.title:hover {
  visibility: visible;
  z-index: 2;
  color: blue;
}

.img {
  z-index: 1;
}
.container {
  margin: 10px;
} */
